
.roomTitle {
  float: right;
}

canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

canvas.drawing {
  display: block;
  border: solid black 1px;
}

.drawing

* {
  box-sizing: border-box;
}
