
.roomTitle {
  float: right;
}

canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

canvas.drawing {
  display: block;
  border: solid black 1px;
  margin: 5px;
}

.drawingsContainer {
  position: relative;
  border: solid blanchedalmond 10px; //development-only: so I can see
  padding: 10px;
  overflow-x: hidden;
  overflow-y: visible;
}

.drawingToInterpret {
  box-sizing: content-box;
  position: absolute;
  left: -480px;
  background: cornflowerblue;
  border: solid black 5px;
  transition: left 0.5s ease-out 0.25s, border 0.1s;
  z-index: 1000;
}

.drawingToInterpret:hover {
  position: absolute;
  border: solid yellow 5px;
  left: 0px;
}

.drawingInProgress {
  position: relative;
}
/*
canvas.drawing:hover {
  border: solid red 30px;
}
  */

.drawing

* {
  box-sizing: border-box;
}
