//general classes
* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$inactive-opacity: 0.25;
.inactive {
  background-color: grey;
  opacity: $inactive-opacity;
}

canvas.drawing {
  display: block;
  border: solid black 1px;
  margin: 5px;
}

////////////////////////////////////////////////////////////////////////////////
//High-level containers
////////////////////////////////////////////////////////////////////////////////
.ui-center-column {
  display: inline-block;
}

.ui-container {
  position: relative;
}

.ui-body {
  position: relative;
}

////////////////////////////////////////////////////////////////////////////////
//Layout for the drawing container and its contents
////////////////////////////////////////////////////////////////////////////////

.drawings-container {
  display: inline-block;
  position: relative;
  overflow: hidden; //truncate the slide-in / slide-out view of previous drawing
  text-align: center;

  width: 552px;
  transition: width 0.5s;
}

.drawings-container.inactive {
  width: 226px;
}

.instructions.draw::before {
  content: "Your drawing";
}

.instructions.describe::before {
  content: "Your description";
}

.instructions.start::before {
  content: "Your starting clue";
}

$slide-out-width: -495px;
$offset-size: -24px;
.drawing-to-interpret {
  z-index: 1000;


  margin: 25px;
  padding: 5px;

  position: absolute;
  left: $slide-out-width;
  top: $offset-size;
  opacity: $inactive-opacity;


  transition: left 0.5s, ease-out 0.25s, border 0.1s;
  &:hover {
    left: $offset-size;
    opacity: 1.0;
    background: white;
  }
}

.inactive .drawing-to-interpret {
  left: $slide-out-width;
  background: none;
}

.first-drawing .drawing-to-interpret {
  display: none;
}

.drawing-in-progress {
  position: relative;
  padding: 30px;
}

.room-title {
  display: block;

  text-align: center;
  font-size: 2em;
}

//variables for terrible decisions
$sidebar-width: 240px;
$sidebar-height: 487px;

////////////////////////////////////////////////////////////////////////////////
//Presentation of the roster/state of play and its contents
////////////////////////////////////////////////////////////////////////////////
.state-of-play {
  display: inline-block;
  vertical-align: top;

  width: $sidebar-width;
  height: $sidebar-height;

  border-right: solid black 1px;
  border-top: solid black 1px;
}
/*
...
*/

////////////////////////////////////////////////////////////////////////////////
//Presentation of the chatroom
////////////////////////////////////////////////////////////////////////////////
.chatroom {
  display: inline-block;
  vertical-align: top;

  width: $sidebar-width;
  height: $sidebar-height;

  border-left: solid black 1px;
  border-top: solid black 1px;
}
/*
...
*/


////////////////////////////////////////////////////////////////////////////////
//Presentation of the game review
////////////////////////////////////////////////////////////////////////////////
.stack-to-review {
  display: none
}
.all-stacks {
  display: none
}
/*
... nothing here ...
*/
