//general classes
* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inactive {
  background-color: grey;
  opacity: 0.5;
}

canvas.drawing {
  display: block;
  border: solid black 1px;
  margin: 5px;
}


//drawing-related
.drawingsContainer {
  display: inline-block;
  position: relative;
  overflow: hidden; //truncate the slide-in / slide-out view of previous drawing
  text-align: center;
}

.instructions.draw::before {
  content: "Your drawing";
}

.instructions.describe::before {
  content: "Your description";
}

.instructions.start::before {
  content: "Your starting clue";
}

$slide-out-width: -500px;
$offset-size: -25px;
.drawingToInterpret {
  z-index: 1000;


  margin: 25px;
  padding: 5px;

  position: absolute;
  left: $slide-out-width;
  top: $offset-size;
  opacity: 0.5;


  transition: left 0.5s, ease-out 0.25s, border 0.1s;
  &:hover {
    left: $offset-size;
    opacity: 1.0;
    background: white;
  }
}

.inactive .drawingToInterpret {
  left: $slide-out-width;
  background: none;
}

.firstDrawing .drawingToInterpret {
  display: none;
}

.drawingInProgress {
  position: relative;
  padding: 30px;
}

.roomTitle {
  float: right;
}


